:root {
    --font-regular: 'Inter', sans-serif;
    --color-oragen: hsl(35, 77%, 62%);
    --color-red: hsl(5, 85%, 63%);
    --color-white: hsl(36, 100%, 99%);
    --color-blue: hsl(233, 8%, 79%);
    --color-darkBlue: hsl(236, 13%, 42%);
    --color-veryDarkBlue: hsl(240, 100%, 5%);
}

body {
    width: 1440px;
    font-weight: 400;
    font-size: 20px;
}

.container {
    margin: 20px;
}